* {
    box-sizing: border-box;
 }

 .hero-section {
     
     height: 100vh;
     
 }

 .hero-section {
    padding: 40px 0;
    background-image: url("images/Hero-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
 }

 #contact {
     padding: 40px 0;
     background-image: url("images/contactform.svg");
     background-size: cover;
     background-repeat: no-repeat;
 }